@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@inherits Chapter_7.RazorPage.CustomRazorPage<dynamic>
@{

}

<p>書籍名稱 : @GetBookName()</p>
<p>ASP.NET Core版本 : @AppVersion</p>
<p>作者 : @Model.Name</p>
